#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Reboot after installation
#reboot
# Use CDROM installation media
# Use network installation
cdrom
# Use graphical install
graphical
install
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp

# Root password
rootpw --plaintext redhat 
# System services
services --enabled="chronyd"
# System timezone
timezone US/Arizona --isUtc
user --name=ferras --password=$6$FjU/0ia6sMUaSfwe$EhUDbY.bEYrzOgc0Vw32ajADzHIOAyTsvkbXRfGMZXD4KziTJG5lkseQ/Q/BV3R7lWX3TgL1zQLq4h6qGqo3T. --iscrypted --gecos="Ferras"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel --drives=sda

%post --erroronfail
echo "RUN_FIRSTBOOT=NO" > /etc/sysconfig/firstboot
echo "Kickstarted for class on $(date)" >> /etc/issue
%end

%packages
@base
chrony
dracut-config-generic
dracut-norescue
firewalld
grub2
heat-cfntools
kernel
rsync
tar
httpd
-plymouth

%end


%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
